@import 'inc/bootstrap';
@import 'inc/normalize';
@import 'inc/header';


$colorIndex: 10;

// this is for preview convenience only
body.print {
	@import 'inc/print';
}



//===== cards ==============

.decorated-container {
	border: {
		width: 1px;
		color: getColor($colorIndex, border);
		style: solid;
		radius: 2px;
	}
	box-shadow: 3px 3px 5px 0 rgba(0,0,0,.2);
}

.grid-container {
	display: grid;
	grid-gap: $gap * 1px;
  	grid-template-columns: repeat(auto-fill, minmax(#{map-get($cardContainer, width) * 1px}, 1fr));
	margin: ($gap / 2) * 1px;
}

.card-container {
	display: flex;
}

.recto, .verso {
	width: map-get($card, width) * 1px;
	height: map-get($card, height) * 1px;
	margin: map-get($card, margin)  * 1px;
	overflow: hidden;
	position: relative;
	background: url(../img/bg.png);
}


.frame {
	position: absolute;
	pointer-events: none;
	top: 0;
	width: 100%;
	height: 100%;
    text-shadow: 0 0 30px rgba(0,0,0,1);
    align-items: flex-end;
    display: flex;
    justify-content: center;
    h2 {
    	font: 1.9rem bold $headingFont;
		color: getColor($colorIndex, text) !important;
		padding: 5px 20px;
		background: url(../img/bg.png);
		border: 1px solid getColor($colorIndex, border);
		border-radius: 20px;
	}
	& > img {
		position: absolute;
		top: 0;
		left: 0;
		filter: hue-rotate(getColor($colorIndex, hue) * 1deg);
	}
}

.card-properties-outer {
    padding: $boxPadding * 1px;
}

.card-properties {
	width: 100%;
	th, td {
		text-align: left;
		padding: 2px;
	}
	thead {
		th {
			padding-bottom: 10px;
			border-bottom: 1px solid getColor($colorIndex, border);
		}
	}
	tbody {
		tr {
			&:first-of-type {
				td {
					padding-top: 10px;
				}
			}
		}
	}
}



.property-details {
	left: -100000px;
	background: rgba(getColor($colorIndex, detail-bg), .8);
	color: getColor($colorIndex, detail-text);
	text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0;
	margin: $boxPadding * 1px;
	width: calc(100% - #{$boxPadding * 2px});
	padding: 8px;
	table {
		width: 100%;
		tbody {
			tr {
				&:first-of-type {
					td {
						padding-top: 0;
					}
				}
			}
		}
	}
}

.detail-trigger {
	cursor: pointer;
	.detail-text {
		border-bottom: 1px dashed getColor($colorIndex, border);
	}
	&:hover {
		.property-details {
			left: 0;
		}
	}
}

@media print {
	header {
		display: none;
	}
	@import 'inc/print';
}

