.recto {
	transform: rotate(180deg);
}

.property-details {
	display: none;
}

.detail-trigger {
	cursor: default;
	.detail-text {
		border: none;
	}
}

.grid-container {
 	grid-template-columns: repeat(auto-fill, minmax(#{map-get($card, width) * 1px}, 1fr));
	transform: scale(.8);
}

.card-container {
	display: block;
	margin-bottom: 50pt;
	&:nth-child(3n+0) {
		page-break-after: always;
	}
}

.verso {
	margin-top: 6px;
}

.decorated-container {
	box-shadow: none;	
}
